<html>
<head>
<title>ActivitiOA</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<frameset rows="100,*,25" framespacing="0" border="0" frameborder="0">
    <frame th:src="@{topUI}" name="TopMenu"  scrolling="no" noresize />
    <frameset cols="180,*" id="resize">
        <frame noresize name="menu" th:src="@{leftUI}" scrolling="yes" />
        <frame noresize name="right" th:src="@{/user/list}" scrolling="yes" />
    </frameset>
    <frame noresize name="status_bar" scrolling="no" th:src="@{bottomUI}" />
</frameset>
<noframes>
<body>
</body>
</noframes>
</html>
