<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>请假任务办理</title>
</head>
<body>
 	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
		  <tr>
		    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <td height="24" bgcolor="#353c44"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		          <tr>
		            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
		              <tr>
		                <td width="6%" height="19" valign="bottom"><div align="center"><img src="lib//images/tb.gif" width="14" height="14" /></div></td>
		                <td width="94%" valign="bottom"><span class="STYLE1">请假申请的任务办理</span></td>
		              </tr>
		            </table></td>
		            <td><div align="right"><span class="STYLE1">
		              </span></div></td>
		          </tr>
		        </table></td>
		      </tr>
		    </table></td>
		  </tr>
		  <tr>
		  	<td>
		  		<form th:action="@{workflow_submit_task}" th:object="${workflow}" method="POST">
			  		<div align="left" class="STYLE21">
			  			<!-- 任务ID -->
			  			<input type="hidden" th:field="*{taskId}"/>
			  			<!-- 请假单ID -->
			  			<input type="hidden" disabled="disabled" th:field="${leaveBill.id}">
				 		请假天数: <input disabled="disabled" th:field="${leaveBill.days}" style="width: 200px;"/><br/>
				 		请假原因:<input disabled="disabled" th:field="${leaveBill.content}" style="width: 200px;"/><br/>
				 		请假备注: <textarea rows="2" cols="30" disabled="disabled" th:field="${leaveBill.remark}"></textarea><br/>
				 		批&emsp;&emsp;注: <textarea rows="5" cols="50" th:field="*{content}"></textarea><br/>
				 		<!-- 使用连线的名称作为按钮 -->
				 		<input type="submit" th:each=" flow : ${flows} " name="outcome" th:value="${flow}" class="button_ok"/>
			 		</div>
			 	</form>
		  	</td>
		  </tr>
	</table>
	<hr>
	<br>
		<table th:if="${comments.size() > 0}" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			  <tr>
			    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			      <tr>
			        <td height="24" bgcolor="#353c44"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			          <tr>
			            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
			              <tr>
			                <td width="6%" height="19" valign="bottom"><div align="center"><img src="lib//images/tb.gif" width="14" height="14" /></div></td>
			                <td width="94%" valign="bottom"><span class="STYLE1">显示请假申请的批注信息</span></td>
			              </tr>
			            </table></td>
			            <td><div align="right"><span class="STYLE1">
			              </span></div></td>
			          </tr>
			        </table></td>
			      </tr>
			    </table></td>
			  </tr>
			  <tr>
			    <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce" onmouseover="changeto()"  onmouseout="changeback()">
			      <tr>
			        <td width="15%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">时间</span></div></td>
			        <td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">批注人</span></div></td>
			        <td width="75%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">批注信息</span></div></td>
			      </tr>
			      	<tr th:each=" comment : ${comments} ">
				        <td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="center"> [[ ${#dates.format(comment.time,"yyyy-MM-dd") } ]]</div></td>
				        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"> [[ ${comment.userId} ]] </div></td>
				        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">[[ ${comment.fullMessage} ]]</div></td>
				    </tr> 
			        
			      
			    </table></td>
			  </tr>
		</table>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" th:unless="${comments.size() > 0}">
			  <tr>
			    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			      <tr>
			        <td height="24" bgcolor="#F7F7F7"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			          <tr>
			            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
			              <tr>
			                <td width="6%" height="19" valign="bottom"><div align="center"><img src="lib//images/tb.gif" width="14" height="14" /></div></td>
			                <td width="94%" valign="bottom"><span><b>暂时没有批注信息</b></span></td>
			              </tr>
			            </table></td>
			          </tr>
			        </table></td>
			      </tr>
			    </table></td>
			  </tr>
	</table>
	
</body>
</html>