<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script language="javascript" th:src="@{/script/jquery.js}"></script>
	<script language="javascript" th:src="@{/script/pageCommon.js}" charset="utf-8"></script>
	<script language="javascript" th:src="@{/script/PageUtils.js}" charset="utf-8"></script>
	<link type="text/css" rel="stylesheet" th:href="@{/style/blue/pageCommon.css}" />
</div>
</html>